body {
  background-color: rgb(255, 255, 255);
}
section {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: auto;
  margin-top: 10%;
  width: 600px;
  height: 350px;
  border-radius: 20px;
}
.box-1 {
  background-color: rgb(81, 58, 246);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 270px;
  text-align: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
}
.box-1 .cercle {
  height: 130px;
  width: 130px;
  border-radius: 260px;
  background-color: rgb(70, 52, 233);
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.box-1 h3 {
  margin: 0%;
}
.box-1 .para2 {
  font-size: 12px;
  margin-top: 0%;
  color: rgb(216, 213, 213);
  margin-bottom: 13px;
  word-spacing: 2px;
}
.box-1 .para1 {
  margin-top: 30px;
  margin-bottom: 0%;
  color: rgb(216, 213, 213);
}
.box-1 h1 {
  color: rgb(255, 255, 255);
  margin: 0px;
  margin-top: 30px;
  font-size: 50px;
  font-family: "Roboto Condensed", sans-serif;
}
.box-1 h3 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
}
.box-1 .para3 {
  margin-top: 0px;
  margin-bottom: 30px;
  width: 200px;
  color: rgb(216, 213, 213);
}
.box-2 {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 230px;
  margin: 0px 20px;
  margin-bottom: 20px;
}
.flex-1,
.flex-2,
.flex-3,
.flex-4 {
  display: flex;
  justify-content: space-between;
}
.flex-child1,
.flex-child2,
.flex-child3,
.flex-child4 {
  display: flex;
  gap: 10px;
}
button {
  padding: 13px;
  background-color: rgb(48, 59, 91);
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 1s;
}
button:hover {
  background-color: rgb(41, 74, 165);
}
.container {
  width: 220px;
  margin-left: 10px;
}
.box-2 h1 {
  color: rgb(37, 37, 37);
}
.box-2 span {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 5px;
}
.reaction {
  color: rgb(250, 51, 51);
}
.memory {
  color: rgb(224, 193, 12);
}
.visual {
  color: rgb(18, 18, 247);
}
.verbal {
  color: rgb(23, 197, 197);
}
